@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: var(--font-poppins, 'Poppins, sans-serif');
}

html, body {
  font-family: var(--font-family);
  transition: font-family 0.3s ease; 
}

.perspective {
  perspective: 1000px;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}


::-webkit-scrollbar {
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
