@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-family: var(--font-family, var(--font-inter), sans-serif);
    transition: font-family 250ms ease-in; 
  }

.perspective {
  perspective: 1000px;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

.hero-readTime{
  text-shadow: 0px -1px 1px #bb8c32;
}
::-webkit-scrollbar {
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
